
$navbar-inverse-hover-color:           $yellow !default;
//$navbar-inverse-active-color:          $blue !default;
$navbar-inverse-color:                 $white !default;

$border-radius: 0 !default;
$input-btn-border-width: 2px !default;


//input
$input-border-radius:  0 !default;
$input-color:                    $black !default;
$input-border-focus:  $brand-info;

//alerts
// $alert-border-radius:         $border-radius !default;
// $alert-success-bg:           $brand-primary !default;
// $alert-success-text:         $white !default;
// $alert-success-border:        $brand-primary !default;



// $alert-danger-bg:             $red !default;
// $alert-danger-text:           $white !default;
// $alert-danger-border:         $red !default;