.bg-white
{
	background-color: #fff;
}

.bg-purple{
	background-color:$purple;
}
.image-50X50
{
	width:150px;
}
.image-70
{
	width:70px;
}
.bg-grey
{
	background-color:rgba($black,.125);
}
.text-underlined 
{
	text-decoration:underline;
	text-decoration-style:double;
	text-decoration-width:3px;
}

.bg-dark
{
	background-color: $black;
}

.is-fullheight
{
	min-height: 100vh;
}
.icon-wrapper {
	text-align:center;
  font-size: 40px;
  margin-bottom: 10px;
}
.box{
	padding:10px;
	border: 2px solid rgba($black,.125);
}

.text-grey{
	color:rgba($black,.135);
}

.img-small
{
	width: 40px;
}
.img-50{
	height:50px;
}

.orange
{
	color:$orange;
}

.btn
{
	cursor:pointer;
}

.grand-total{
	position:fixed;
	display:flex;
	justify-content: center;
	bottom:0;
	width:450px;
	right:30px;
	z-index:4;
	color:black;
	background:white;
	border:2px solid $blue;
}
#topHeader
{
	border-bottom:3px solid $white;
}
